
@{
    ViewData["Title"] = "PrEP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row" style="background-color: whitesmoke;" id="filterPanel">
    </div>
    <div class="row d-flex dashboard-row dashboard-bg-ws justify-content-around">
        <div class="col-3 indicator-container" onclick="openModal('PrEP NEW')">
            <div class="d-flex flex-column justify-content-around indicator-infor">
                <div class="row d-flex justify-content-center indicator-title">PrEP_NEW</div>
                <div class="row d-flex justify-content-center indicator-value">
                    <span id="PrEP_NEW-value"></span>
                </div>
                <div class="row d-flex justify-content-center indicator-percent">
                    <span class="align-middle" id="PrEP_NEW-percent">

                    </span>
                </div>
            </div>
            <div id="PrEP_NEW_chart" class="indicator-infor-chart">

            </div>
        </div>
        <div class="col-3 indicator-container"  onclick="openModal('PrEP CURR')">
            <div class="d-flex flex-column justify-content-around indicator-infor">
                <div class="row d-flex justify-content-center indicator-title">PrEP_CURR</div>
                <div class="row d-flex justify-content-center indicator-value" id="PrEP_CURR-value"></div>
                <div class="row d-flex justify-content-center indicator-percent">
                    <span class="align-middle" id="PrEP_CURR-percent">
                        
                    </span>
                </div>
            </div>
            <div id="PrEP_CURR_chart" class="indicator-infor-chart">

            </div>
        </div>
        <div class="col-3 indicator-container" onclick="openModal('%PrEP 3M')">
            <div class="d-flex flex-column justify-content-around indicator-infor">
                <div class="row d-flex justify-content-center indicator-title">%PrEP_3M</div>
                <div class="row d-flex justify-content-center indicator-value" id="pPrEP_3M-value"></div>
                <div class="row d-flex justify-content-center indicator-percent">
                    <span class="align-middle" id="pPrEP_3M-percent">
                        
                    </span>
                </div>
            </div>
            <div id="pPrEP_3M_chart" class="indicator-infor-chart">

            </div>
        </div>
    </div>
    <div class="row dashboard-row">
        <div class="col-12" style="margin:15px">
            <h3>PrEP Variables</h3>
        </div>
        <div class="col-12" id="variables" style="padding-left: 30px">
            
        </div>
        <div class="col-12 d-flex justify-content-around">
            <div class="col-3" style="padding: 0px">
                <div class="col-12 variable-containter">
                    <div class="row" style="padding-left: 15px; padding-top: 15px">
                        <h4>Age Group</h4>
                    </div>
                    <iframe src="https://202.78.227.175:32279/app/dashboards#/view/37541b60-a1ba-11eb-a67e-b191c89f040c?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15m,to:now))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),query:(language:kuery,query:''),timeRestore:!f,title:AGEGROUP,viewMode:view)&hide-filter-bar=true" height="380" width="380"></iframe>
                </div>
            </div>
            <div class="col-3" style="padding: 0px">
                <div class="col-12 variable-containter">
                    <div class="row" style="padding-left: 15px; padding-top: 15px">
                        <h4>Gender</h4>
                    </div>
                    <iframe src="https://202.78.227.175:32279/app/dashboards#/view/013ad790-a27c-11eb-87d6-a34b9251f2b1?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15m,to:now))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),query:(language:kuery,query:''),timeRestore:!f,title:GENDER,viewMode:view)&hide-filter-bar=true" height="380" width="380"></iframe>
                </div>
            </div>
            <div class="col-3" style="padding: 0px">
                <div class="col-12 variable-containter">
                    <div class="row" style="padding-left: 15px; padding-top: 15px">
                        <h4>Key Populations</h4>
                    </div>
                    <iframe src="https://202.78.227.175:32279/app/dashboards#/view/349f9490-a27c-11eb-87d6-a34b9251f2b1?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15m,to:now))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),query:(language:kuery,query:''),timeRestore:!f,title:KEY_POPULATION,viewMode:view)&hide-filter-bar=true" height="380" width="380"></iframe>
                </div>
            </div>
            <div class="col-3" style="padding: 0px">
                <div class="col-12 variable-containter">
                    <div class="row" style="padding-left: 15px; padding-top: 15px">
                        <h4>Clinics</h4>
                    </div>
                    <iframe src="https://202.78.227.175:32279/app/dashboards#/view/7064a2e0-a27c-11eb-a67e-b191c89f040c?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15m,to:now))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),query:(language:kuery,query:''),timeRestore:!f,title:SITE,viewMode:view)&hide-filter-bar=true" height="380" width="380"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/variableChart.js"></script>
    <script src="~/js/indicatorModal.js"></script>
    <script src="~/js/filterComponent.js"></script>
    <script src="~/js/PrEP.js"></script>
}
