/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html {
    scroll-behavior: smooth;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.dashboard-header {
    background-color: lightgray;
    height: 70px;
}

.dashboard-body {
    background-color: whitesmoke;
}

.dashboard-container {
    padding: 0px !important;
    height: calc(100vh - 80px);
    font-size: 20px;
}

.dashboard-card {
    margin: 3px
}

hr {
    margin: 3px;
}

.dashboard-indicator {
    padding: 5px;
    border-radius: 10px;
}

    .dashboard-indicator:hover {
    }

.dashboard-map {
    height: calc(100vh - 168px);
    margin-top: 10px;
}

.dashboard-chart-25 {
    height: 25vh;
}

.dashboard-row {
    padding: 20px;
}

.dashboard-bg-ws {
    background-color: whitesmoke;
}

.indicator-title {
    font-size: xx-large;
    font-weight: bold;
}



.indicator-percent {
    font-size: x-large;
}

.chip {
    display: inline-block;
    padding: 0 20px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    border-radius: 15px;
    background-color: darkgray;
    margin: 5px;

}

.closebtn {
    padding-left: 10px;
    color: #999;
    float: right;
    font-weight: bold;
    font-size: 19px;
    cursor: pointer;
}

    .closebtn:hover {
        color: dimgray
    }

.indicator-container {
    background-color: white;
    height: 380px;
    max-height: 380px;
    max-width: 420px!important;
    margin-top: 8px;
    margin-bottom: 8px;
}

    .indicator-container:hover {
        cursor: pointer;
    }

    .indicator-container > .indicator-title {
        font-size: x-large;
        font-weight: bold;
    }

    .indicator-container > .indicator-infor {
        height: 185px
    }

        .indicator-container > .indicator-infor > .indicator-value {
            font-size: 50px;
            font-weight: bold;
        }

    .indicator-container > .indicator-infor-chart {
        height: 185px
    }

    .selected-indicator-container {
        border: 2px solid black;
        border-radius: 15px;
    }

.variable-containter {
    background-color: whitesmoke;
    height: 40vh;
    min-height: 470px;
    padding-right: 5px;
}

@media (min-width: 992px) {
    .modal-lg {
        width: 800px;
        min-width: 1600px;
    }
}

.b-card-body {
    padding: 13px !important;
}

.pqm-btn {
    border: none;
    background-color: transparent;
    width: 35px;
    height: 35px;
}

    .pqm-btn:hover {
        border: 1px black solid;
        border-radius: 5px;
    }
