@{
    ViewData["Title"] = "Aggregated Value Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row" style="margin-top: 10px">
        <div id="grid"></div>
    </div>
</div>
@section Scripts{
    <script src="~/js/aggregatedValue.js"></script>
}