@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid">
    <div class="row" style="background-color: whitesmoke;" id="filterPanel">
    </div>
    <div class="row" style="background-color: whitesmoke">
        <div class="col-4 dashboard-container">
            <div class="card dashboard-card">
                <div class="card-body b-card-body">
                    <h3 class="card-title">HTS Positive</h3>
                    <div id="map" class="dashboard-map"></div>
                    <div id="person-type-char" class="dashboard-chart-25"></div>
                    <hr />
                    <div id="HTS-chart" class="dashboard-chart-25"></div>
                </div>
            </div>
        </div>
        <div class="col-4 dashboard-container">
            <div class="card dashboard-card indicator-group" onclick="drillDown('Testing')">
                <div class="card-body b-card-body">
                    <h3 class="card-title">Testing</h3>
                    <div id="testing">
                    </div>
                </div>
            </div>
            <div class="card dashboard-card indicator-group" onclick="drillDown('PrEP')">
                <div class="card-body b-card-body">
                    <h3 class="card-title">PrEP</h3>
                    <div id="prep">
                    </div>
                </div>
            </div>
            <div class="card dashboard-card indicator-group" onclick="drillDown('Treatment')">
                <div class="card-body b-card-body">
                    <h3 class="card-title">Treatment</h3>
                    <div id="treatment">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 dashboard-container" onclick="drillDown('Drugs')">
            <div class="card dashboard-card">
                <div class="card-body b-card-body">
                    <h3 class="card-title">Drugs</h3>
                    <div id="drugs">
                    </div>
                </div>
            </div>
            <div class="card dashboard-card" onclick="drillDown('SHI')">
                <div class="card-body b-card-body">
                    <h3 class="card-title">SHI</h3>
                    <div id="shi">
                    </div>
                </div>
            </div>
            <div class="card dashboard-card" onclick="drillDown('ServiceQuality')">
                <div class="card-body b-card-body">
                    <h3 class="card-title">Service Quality</h3>
                    <div id="service-quality">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/markerclustererplus.min.js"></script>
    <script src="~/js/filterComponent.js"></script>
    <script src="~/js/dashboard.js"></script>
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_uYWyuQfE3qofErFoGnDl9PkjEF7xGbk&callback=initMap">
    </script>
}
