
@{
    ViewData["Title"] = "Testing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row" style="background-color: whitesmoke;" id="filterPanel">
    </div>
    <div class="row d-flex dashboard-row dashboard-bg-ws justify-content-around">
        <div class="col-3 indicator-container" onclick="openModal('HTS Positive')">
            <div class="d-flex flex-column justify-content-around indicator-infor">
                <div class="row d-flex justify-content-center indicator-title">HTS_TEST_POS</div>
                <div class="row d-flex justify-content-center indicator-value">
                    <span id="HTS_TEST_POS-value"></span>
                </div>
                <div class="row d-flex justify-content-center indicator-percent">
                    <span class="align-middle" id="HTS_TEST_POS-percent">

                    </span>
                </div>
            </div>
            <div id="HTS_TEST_POS_chart" class="indicator-infor-chart">

            </div>
        </div>
        <div class="col-3 indicator-container" onclick="openModal('%HIV+ referred')">
            <div class="d-flex flex-column justify-content-around indicator-infor">
                <div class="row d-flex justify-content-center indicator-title">HTS_TEST-Recency</div>
                <div class="row d-flex justify-content-center indicator-value" id="HTS_TEST-Recency-value"></div>
                <div class="row d-flex justify-content-center indicator-percent">
                    <span class="align-middle" id="HTS_TEST-Recency-percent">

                    </span>
                </div>
            </div>
            <div id="HTS_TEST-Recency_chart" class="indicator-infor-chart">

            </div>
        </div>
        <div class="col-3 indicator-container" onclick="openModal('%HTS recent')">
            <div class="d-flex flex-column justify-content-around indicator-infor">
                <div class="row d-flex justify-content-center indicator-title">
                    <div class="col-12 d-flex justify-content-center indicator-title">HTS_TEST_POS</div>
                    <div class="col-12 d-flex justify-content-center indicator-title">successfully refer to OPC</div>
                </div>
                <div class="row d-flex justify-content-center indicator-value" id="HTS_TEST_POS-refer-value"></div>
                <div class="row d-flex justify-content-center indicator-percent">
                    <span class="align-middle" id="HTS_TEST_POS-refer-percent">

                    </span>
                </div>
            </div>
            <div id="HTS_TEST_POS-refer_chart" class="indicator-infor-chart">

            </div>
        </div>
    </div>
    <div class="row dashboard-row">
        <div class="col-12" style="margin:15px">
            <h3>Testing Variables</h3>
        </div>
        <div class="col-12" id="variables" style="padding-left: 30px">

        </div>
        <div class="col-12 d-flex justify-content-around">
            <div class="col-3" style="padding: 0px">
                <div class="col-12 variable-containter">
                    <div class="row" style="padding-left: 15px; padding-top: 15px">
                        <h4>Age Group</h4>
                    </div>
                    <div id="age-group-chart"></div>
                </div>
            </div>
            <div class="col-3" style="padding: 0px">
                <div class="col-12 variable-containter">
                    <div class="row" style="padding-left: 15px; padding-top: 15px">
                        <h4>Gender</h4>
                    </div>
                    <div id="gender-chart"></div>
                </div>
            </div>
            <div class="col-3" style="padding: 0px">
                <div class="col-12 variable-containter">
                    <div class="row" style="padding-left: 15px; padding-top: 15px">
                        <h4>Key Populations</h4>
                    </div>
                    <div id="key-populations-chart"></div>
                </div>
            </div>
            <div class="col-3" style="padding: 0px">
                <div class="col-12 variable-containter">
                    <div class="row" style="padding-left: 15px; padding-top: 15px">
                        <h4>Clinics</h4>
                    </div>
                    <div id="clinics-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/variableChart.js"></script>
    <script src="~/js/filterComponent.js"></script>
    <script src="~/js/testing.js"></script>
}
