@{
    ViewData["Title"] = "Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" role="dialog" aria-hidden="true" id="create-setting-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/threshold-setting.js"></script>
}