
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.80.0">
    <title>PQM - Signin</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Favicons -->
    <link rel="stylesheet" href="~/css/auth.css" />
</head>
<body class="text-center">
    <div style="position: absolute; top: 5px; right: 15px" id="selectLanguage">

    </div>
    <form class="form-signin" onsubmit="return onLogin()" id="loginForm">

        @*<p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>*@
    </form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/axios/axios.min.js"></script>
    <script src="~/js/utility.js"></script>
    <script src="~/js/multipleLanguage.js"></script>
    <script src="~/js/login.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/auth.js"></script>
</body>
</html>


