
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PQM Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/auth.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">

            </div>

            <!-- Login Form -->
            <form>
                <input type="text" id="username" class="fadeIn second" placeholder="Username">
                <input type="password" id="password" class="fadeIn third" placeholder="Password">
                <small id="user-error" class="form-text text-muted" style="color: red!important"></small>
                <button type="button" id="btn-login" class="fadeIn fourth" onclick="onLogin()">Log In</button>
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>

        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/auth.js"></script>
</body>
</html>
